body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  #converter-container {
    text-align: center;
  }

  input {
    width: 80px;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }